<div class="container">
    <h1>Signin</h1>
    <form action="/signin" method="post">
        <input type="text" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <button type="submit">signin</button>
    </form>
</div>